@keyframes overlay {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 60%;
  }
}

@keyframes text-container-animation {
  0% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

.card-component {
  position: relative;
  width: 23rem;
  height: 35rem;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s transform;

  &__text-container {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-3px, -3px);
    width: 102.5%;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.01)
    );

    z-index: 60;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    &__label {
      width: 100%;
      height: 3.5rem;
      label {
        font-size: 1.167rem;
        font-weight: 540;
        margin-top: 20px;
        display: block;
      }
    }
    &__title {
      width: 100%;
      height: 4rem;
      label {
        font-size: 1.6rem;
        font-weight: 550;
        margin-top: 10px;
        display: block;
      }
    }
    * {
      cursor: pointer;
      margin-left: 10px;
    }
  }
  &__img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    img {
      width: 100%;
      height: 100%;
      transition: 1s transform ease-in-out;
      background-color: black;
      border: solid black 2px;
    }
  }
  &__sliding-content {
    position: absolute;
    width: 100%;
    top: 150px;
    left: 0;
    z-index: 60;
    font-size: 1.167rem;
    line-height: 1.8rem;
    transform: translate(1000px, 0px);
    transition: transform 3s;
    p {
      box-sizing: border-box;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__text-container,
  &__sliding-content {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__expand {
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 1.4rem;
    font-weight: 530;
    padding: 5px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0px, 90px);
    transition: transform 2s;
    z-index: 60;
    .img-arrow {
      margin-left: 10px;
      width: 40px;
      height: 30px;
    }
  }
  &:hover {
    transform: scale(1.04);
  }
  &:hover .img-card {
    width: 100%;
    height: 100%;
    transform: scale(4);
    max-width: 100%;
    opacity: 20%;
  }
  &:hover .overlay {
    width: 100%;
    height: 100%;
    animation: 0.5s 0.5s overlay forwards;
  }
  &:hover &__expand {
    transform: translate(0px, 0px);
  }
  &:hover &__sliding-content {
    transform: translate(0px, 0px);
  }
}

.overlay {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
  opacity: 0%;
}
