.container-responsive {
  overflow-x: hidden;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin-top: 6rem;
  height: auto;
}

header,
main,
footer {
  width: 100%;
}
main,
footer {
  max-width: 1920px;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

* {
  color: white;
  font-family: Graphik, Arial, Helvetica, sans-serif;
}
