.card-event-component {
  width: 100%;
  height: auto;
  display: flex;
  padding-bottom: 5rem;
  padding-top: 5rem;
  column-gap: 4rem;
  row-gap: 3rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
